<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>帐号设置</title>
    <{include file="default/Index/head"/}>
</head>
<body>
<script type="text/javascript" src="__PUBLIC__/mobile/js/activity_report.js"></script>
<div class="container">
    <div class="page-header">
        <h1 class="text-center">帐号设置</h1>
    </div>

    <ul class="list-group">
        <li class="list-group-item">绑定QQ<a href="javascript:;" class="pull-right">已绑定</a></li>
        <li class="list-group-item">绑定新浪微博<a href="#" class="pull-right">绑定</a></li>
        <li class="list-group-item">绑定手机<a href="<{:U('Index/bindtelephone')}>" class="pull-right">绑定</a></li>
    </ul>
</div>
<{include file="default/Index/nav"/}>
</body>
</html>