<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>帐号设置</title>
    <link rel="stylesheet" href="__PUBLIC__/mobile/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/mobile/css/layout.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/mobile/css/bind_phone.css"/>
    <script src="__PUBLIC__/mobile/js/jquery.min.js"></script>
    <script src="__PUBLIC__/mobile/js/hammer.min.js"></script>
    <script src="__PUBLIC__/mobile/js/jquery.hammer.js"></script>
    <script src="__PUBLIC__/mobile/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/mobile/js/iscroll.js"></script>
    <script src="__PUBLIC__/mobile/js/holder.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/mobile/js/bind_phone.js"></script>
</head>
<body>
<div class="container">
    <h1>帐号设置</h1>
</div>

<form id="create-topic-form">
    <div class="form-group">
        <label for="telephone">
            手机号:
        </label>
        <input type="number" name="telephone" id="telephone" class="form-controlv"/>
    </div>
    <div class="form-group">
        <label for="captcha">
            验证码:
        </label>
        <input type="number" name="captcha" id="captcha">
    </div>
    <div class="form-group">
        <label for="password">
            密码:
        </label>
        <input type="number" name="password" id="password">
    </div>



    <div class="form-group">
        <button class="btn btn-primary">确定</button>
    </div>
</form>
</body>
</html>