<{include file="default/mobile/header"/}>
<link rel="stylesheet" type="text/css" href="/Public/mobile/css/vote.css">
<script type="text/javascript" src="/Public/mobile/js/create_online_activity.js"></script>

<div class="wrap" id="wrap">
	<{include file="default/mobile/nav" title="创建征集活动"/}>
	
	<form action="javascript:;" method="post" class="create-online-activity">
	<div class="voteitem">
		<p>类型：</p>
		<a href="<{:U('Mobile/create_vote_activity',array('fid'=>$fid))}>" title="投票类">投票类</a>
		<a href="<{:U('Mobile/create_collect_activity',array('fid'=>$fid))}>" title="征集类" class="on">征集类</a>
		<div class="clear"></div>
	</div>
	<p class="votetitle">标题：</p>
	<input type="text" class="text92per" id="title" name="title" placeholder="请输入标题...">
	<p class="votetitle">活动介绍：</p>
	<textarea class="textarea1" id="desc" name="desc"></textarea>

	<input type="file" name="file" id="vote_image" class="vote_image"/>
	<input type="hidden" name="type" value="0"/>
	<input type="hidden" name="fid" value="<{$fid}>"/>
    <input type="hidden" name="img" value="" id="img"/>
    <input type="hidden" name="question_img" value="" id="question_img"/>
	
	<a href="javascript:;" title="提交" class="votesubmit create-online-activity-submit">提交</a>
	
	
	<div class="alphabg"></div>
</div>


</body>
</html>
