<{include file="default/mobile/header"/}>
<link rel="stylesheet" type="text/css" href="/Public/mobile/css/event.css">
<script type="text/javascript" src="__PUBLIC__/mobile/js/event.js"></script>

<div class="wrap" id="wrap">
    <{include file="default/mobile/nav" title="发起公益"/}>

    <h2>
        追星，不是狂热的冲动，以偶像之名播撒爱心，才是给TA最好的爱和祝福！有爱才能远行，有为才更加动人，一起行动，爱让我们不孤单！
        <br/>
        <span>
            验证手机号码，带领梅格妮开启一段新的公益旅程！
        </span>
        <br/>
        两日内影加的工作人员即将联系您，为您举办公益活动提供全方位的支持。影+倡导正
        <br/>
        能量追星，深度合作多个权威公益组织，已协助粉丝发起多场公益应援。
    </h2>

    <ul class="loginform">
        <li class="border-li"><p>手机号</p><input type="text" name="welfare_telephone" id="welfare_telephone" value="" placeholder="请输入手机号码" required="required"><div class="clear"></div></li>
        <li><p>验证码</p><input type="text" name="welfare_captcha" id="welfare_captcha" placeholder="请填写验证码" value="" required="required"><a href="javascript:;" id="sendcaptcha" class="captchabtn">发送验证码</a><div class="clear"></div></li>
    </ul>

    <a href="javascript:;" title="确定" class="loginbtn" id="apply_welfare">确定</a>
       
   

    <div class="alphabg"></div>

</div>
</body>
</html>