<span class="footblank"></span>
<div class="footico">
    <a href="javascript:;" title="上传照片" class="upload_feedback_image" data-aid="<{$aid}>"><img src="/Public/mobile/images/ico_03.png" alt="上传照片"> 上传照片</a>
    <a href="javascript:;" title="上传视频" class="upload_feedback_video" data-aid="<{$aid}>"><img src="/Public/mobile/images/ico2_06.png" alt="上传视频"> 上传视频</a>
    <input type="file" name="file" class="upload_feedback_img" id="upload_feedback_img" data-aid="<{$aid}>"/>
    <div class="clear"></div>
</div>