<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>个人中心</title>
    <{include file="default/Index/head"/}>
</head>
<body>
<script type="text/javascript">
    
</script>
<script type="text/javascript" src="__PUBLIC__/mobile/js/personcenter.js"></script>
<div class="container">
    <div class="page-header">
        <h3 class="text-center">个人中心</h3>
    </div>
    <ul class="list-group">
        <a href="<{:U('Index/profile')}>"><li class="list-group-item">个人资料<span class="glyphicon glyphicon-menu-right pull-right"></span></li></a>
        <a href="<{:U('Index/mycollect')}>"><li class="list-group-item">我的收藏<span class="glyphicon glyphicon-menu-right pull-right"></span></li></a>
        <a href="<{:U('Index/myactivity')}>"><li class="list-group-item">我的活动<span class="glyphicon glyphicon-menu-right pull-right"></span></li></a>
        <a href="<{:U('Index/mytopic')}>"><li class="list-group-item">我的话题<span class="glyphicon glyphicon-menu-right pull-right"></span></li></a>
        <a href="<{:U('Index/account')}>"><li class="list-group-item">账号设置<span class="glyphicon glyphicon-menu-right pull-right"></span></li></a>
        <a href="<{:U('Index/mypoint')}>"><li class="list-group-item">我的积分<span class="glyphicon glyphicon-menu-right pull-right"></span></li></a>
    </ul>
</div>
</body>
</html>