<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>扫码成功</title>
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta name="description" content="#">
<meta name="Keywords" content="#">
<link rel="stylesheet" href="__PUBLIC__/mobile/movie/css/global.css">
<link rel="stylesheet" href="__PUBLIC__/mobile/movie/css/scan.css">
<script type="text/javascript" src="__PUBLIC__/mobile/movie/js/adaptive.js"></script>
<script type="text/javascript" src="__PUBLIC__/mobile/movie/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript">
    var get_activity_info_url = "<{:U('MovieActivity/getActivityInfo')}>";
    var get_exchange_code_info_url = "<{:U('MovieActivity/getExchangeCodeInfo')}>";
    var confirm_presence_url = "<{:U('MovieActivity/confirmPresence')}>";
    var aid = "<{$Think.get.aid}>";
    var code = "<{$Think.get.code}>";
</script>
<script type="text/javascript" src="__PUBLIC__/mobile/movie/js/scan_success.js"></script>

</head>
<body class="body-wrap">
<!--   头部   -->
<{include file="default/Index/header"/}>

<div class="film-name">
	<i class="video"></i>
    <div class="name">
    	<span class="movie_title">夏有乔木 雅望天堂</span><br>
    	Sweet   Sixteen
    </div>
</div>
<div class="scan-result">
	<img src="__PUBLIC__/mobile/movie/images/scan-result.png">
    <div class="title">
    	扫码成功
    </div>
    <div class="p">
    	影票<span id="ticketnum">x</span>张
    </div>
    <div class="user-info">
    	昵称：<span id="username">xxxx</span>&nbsp;&nbsp;&nbsp;&nbsp;
        联系方式：<span id="telephone">150xxxxxxxx</span>
    </div>		
</div>

</div>
<a class="enroll" href="javascript:;" id="confirm">确认到场</a>

</body>
</html>
