<div id="getFansInfoList" style="clear: both">

<table class="table table-striped table-bordered table-hover" id="sample_1">

    <thead>

    <tr>
        <th>昵称</th>

        <th class="hidden-480">电话号码</th>

        <th class="hidden-480">qq</th>

        <th class="hidden-480">微博</th>

        <th class="hidden-480">注册时间</th>

        <th class="hidden-480">上次登录时间</th>
    </tr>

    </thead>

    <tbody>

    <{foreach name="userList" item="user"}>

    <tr class="odd gradeX">
        <td>
            <{$user['nickname']}>
        </td>

        <td class="hidden-480">
            <{$user['telephone']}>
        </td>

        <td class="hidden-480">
            <{$user['qq']}>
        </td>

        <td class="center hidden-480">
            <{$user['weibo']}>
        </td>

        <td class="hidden-480">
            <{$user['regtime']|date='Y-m-d H:i:s',###}>
        </td>

        <td class="hidden-480">
            <{$user['lastlogintime']|date='Y-m-d H:i:s',###}>
        </td>

    </tr>

    </tbody>

    <{/foreach}>

</table>



<div class="pagination">
    <div>
        <{$page}>
    </div>
</div>

</div>

<form action="<{:U('Home/FansManage/banUserDispose')}>" method="post">

<div class="container">

    <div id="example" class="modal hide fade" style="display: none;width: 372px;">

        <div class="modal-header">

            <h3>封禁粉丝：</h3>

        </div>

        <div class="modal-body">

            <h6>

                <input type="checkbox" name="fj1"/>禁止参与活动和话题

            </h6>

            <h6>

                <input type="checkbox" name="fj2"/>禁止发布活动和话题

            </h6>

            <h4>填写原因：</h4>

            <p>

                <textarea id="content" name="content" cols="10"></textarea>

                <input type="hidden" value="" name="uid" id="userid"/>

            </p>

            <h6>

                封禁时长：

                <select name="time">

                    <option value="3600">一小时</option>

                    <option value="86400">一天</option>

                    <option value="259200">三天</option>

                </select>

            </h6>

        </div>

        <div class="modal-footer">

            <input class="btn" type="submit" style="width: 100px;" id="success" value="确定"/>

            <input class="btn" style="width: 100px;" data-dismiss="modal" value="关闭"/>

        </div>

    </div>

</div>

</form>

<script>
    function getFansInfoList(id){    //test函数名 一定要和action中的第三个参数一致上面有

        $.post("<{:U('Home/FansManage/getFansInfoList')}>", {'p':id}, function(data){  //用get方法发送信息到TestAction中的test方法

            $("#getFansInfoList").replaceWith("<div  id='getFansInfoList'>"+data+"</div>"); //test一定要和tpl中的一致

        });

    }



    $(function(){

        var fj_this = '';

        $('.fj').click(function(){

            fj_this = this;

            var uid= $(fj_this).children('input').val();

            $('#userid').val(uid);

            $('#example').modal('show');

        });

        $('#success').click(function(){

            $(fj_this).html('【已封禁】');

        });

    });

</script>