<{include file="default/Public/header" /}>
<div class="page-container row-fluid">
    <{include file="default/Index/left" /}>
    <div class="page-content">


        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->


        <div id="portlet-config" class="modal hide">


            <div class="modal-header">


                <button data-dismiss="modal" class="close" type="button"></button>


                <h3>portlet Settings</h3>


            </div>


            <div class="modal-body">


                <p>Here will be a configuration form</p>


            </div>


        </div>


        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->


        <!-- BEGIN PAGE CONTAINER-->


        <div class="container-fluid">


            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <div class="portlet box blue tabbable">

                        <div class="portlet-title">


                            <div class="caption">


                                <i class="icon-reorder"></i>


                                <span class="hidden-480">公益编辑</span>


                            </div>


                        </div>


                        <div class="portlet-body form">


                            <div class="tabbable portlet-tabs">


                                <ul class="nav nav-tabs">


                                    <li class="active"><a href="#portlet_tab1" data-toggle="tab">默认风格</a></li>


                                </ul>


                                <div class="tab-content">


                                    <div class="tab-pane active" id="portlet_tab1">


                                        <!-- BEGIN FORM-->


                                        <form action="<{:U('WelfareEvent/editDo')}>"
                                              enctype="multipart/form-data" method="post" class="form-horizontal">


                                            <div class="control-group">


                                                <label class="control-label"> 公益标题：</label>


                                                <div class="controls">

                                                    <input class="Wdate m-wrap large"
                                                           value="<{$event['subject']}>" name="subject" type="text"/>
                                                    <input type="hidden" name="id" value="<{$event['id']}>"/>

                                                </div>


                                            </div>
                                            <div class="control-group">

                                                <label class="control-label"> 公益内容:</label>

                                                <div class="controls">
                                                    <textarea class="large m-wrap" rows="8" name="content"><{$event['content']}></textarea>
                                                    

                                                </div>

                                            </div>

                                            <div class="control-group">

                                                <label class="control-label"> 公益url(每次需要请问开发人员):</label>

                                                <div class="controls">
                                                    <input type="text" class="large m-wrap" name="url" value="<{$event['url']}>"/>


                                                </div>

                                            </div>

                                            <div class="control-group">


                                                <label class="control-label">开始时间:</label>


                                                <div class="controls">


                                                    <input type="text" class="Wdate large m-wrap" name="begintime" onClick="WdatePicker()" value="<{$event.begintime|date='Y-m-d',###}>"/>

                                                </div>


                                            </div>

                                            <div class="control-group">


                                                <label class="control-label"> 结束时间:</label>


                                                <div class="controls">

                                                    <input type="text" class="Wdate large m-wrap" name="endtime" onClick="WdatePicker()" value="<{$event.endtime|date='Y-m-d',###}>"/>
                                                </div>


                                            </div>

                                            <div class="control-group">
                                                <label class="control-label"> 状态:</label>


                                                <div class="controls">

                                                    <select class="large m-wrap" name="status">
                                                        <option value="0" <{if condition="$event.status eq 0"}>selected="selected"<{/if}>>正常</option>
                                                        <option value="1" <{if condition="$event.status eq 1"}>selected="selected"<{/if}>>删除</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label"> 是否设置为推荐:</label>


                                                <div class="controls">

                                                    <select class="large m-wrap" name="promote">
                                                        <option value="0" <{if condition="$event.promote eq 0"}>selected="selected"<{/if}>>不推荐</option>
                                                        <option value="1" <{if condition="$event.promote eq 1"}>selected="selected"<{/if}>>推荐</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label"> 海报:</label>
                                                <div id="edit_upload">编辑</div>
                                                <div id="as"></div>
                                                <div class="parentFileBox">
                                                <ul class="fileBoxUl">
                                                    <{foreach name="img_list" item="img" key="k"}>
                                                    <li id="fileBox_WU_FILE_1" class="">                    
                                                        <div class="viewThumb">
                                                            <img src="<{$img}>">
                                                        </div>                   
                                                        <div class="diyCancel" data-id="<{$k}>"></div>                  
                                                        <div class="diySuccess" data-id="<{$k}>">
                                                        </div>                     
                                                        <div class="diyFileName"></div>                    
                                                        <div class="diyBar" style="display: none;">                             
                                                            <div class="diyProgress" style="width: 100%;"></div>                            
                                                            <div class="diyProgressText">/div>                     
                                                        </div>             
                                                    </li>
                                                    <{/foreach}>
                                                </ul>
                                                </div>

                                                <input type="hidden" name="attachment" id="attachment" value="<{$event.attachment}>"/>
                                            </div>


                                            


                                            <div class="form-actions">

                                                <button type="submit" class="btn blue"><i class="icon-ok"></i> 保存
                                                </button>


                                                <button type="button" class="btn">取消</button>


                                            </div>


                                        </form>


                                        <!-- END FORM-->


                                    </div>

                                </div>


                            </div>


                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

<style type="text/css">
    #edit_upload{
        background: #ef4343 none repeat scroll 0 0;
        border: 2px solid #c52b2b;
        border-radius: 2rem;
        color: #fff;
        display: block;
        float: left;
        font-size: 0.25rem;
        height: 0.4rem;
        line-height: 0.39rem;
        margin-right: 0.4rem;
        text-align: center;
        width: 2rem;
        position: relative;
        overflow: hidden;
    }
    
</style>

<script>
    var upload_img_url = "<{:U('Upload/upload')}>";
    //上传
    $('#as').diyUpload({
        url: upload_img_url,
        success: function(data) {
            if (data.data.code == 0) {
                var attachmentid = data.data.info;
                $(".diySuccess").eq($(".diySuccess").length - 1).attr('data-id', data.data.info);
                $(".diyCancel").eq($(".diyCancel").length - 1).attr('data-id', data.data.info);
                var old_val = $('#attachment').val();
                $('#attachment').val(old_val+','+attachmentid);
            } else if (data.data.code == 2) {
                
            } else {
                $(".diySuccess").each(function() {
                    if ($(this).attr('data-id') == undefined) {
                        $(this).parents('li').remove();
                    }
                })
                alert(data.data.message);
            }
        },
        error: function(err) {
            console.info(err);
        },
        buttonText: '选择',
        chunked: true,
        // 分片大小
        chunkSize: 50 * 1024 * 1024,
        //最大上传的文件数量, 总文件大小,单个文件大小(单位字节);
        fileNumLimit: 9,
        fileSizeLimit: 50 * 1024 * 1024,
        fileSingleSizeLimit: 50 * 1024 * 1024,
        accept: {
            title: "图片和视频",
            extensions: "gif,jpg,jpeg,bmp,png",
            mimeTypes: "image/*,video/*"
        }
    });

    //编辑删除
    $(document).on('click', '#edit_upload', function() {
        $(".diySuccess").css('display', 'none');
        $(".fileBoxUl li").addClass('diyUploadHover');
    })
    //删除反馈图片和视频
    $(document).on('click', ".diyCancel", function() {
        if(confirm('是否真的删除?')){
            var id = $(this).attr('data-id');
            var old_val = $('#attachment').val();
            old_val_arr = old_val.split(',');
            for(i=0;i<old_val_arr.length;i++){
                if(old_val_arr[i]==id){
                    old_val_arr.splice(i,1);
                }
            }
            var new_val = old_val_arr.toString();
            $('#attachment').val(new_val);
            $(this).parent('li').remove();
        }
        
    })

    

    $('.event-search').parent().show();
    $('.event-search a').css('color', '#ffffff');
    $('.event-search a').css('background', '#575757');

</script>

<{include file="default/Public/footer" /}>