<{include file="default/Public/header" /}>
<style>
   .edui-container .edui-editor-body{
        height: 500px;
        min-height: 500px !important;
        width:810px;
   }
   .edui-container{
        width:810px!important;
        height:500px;
        margin-top: 50px;
        margin-left: -61px;
   }
    
</style>
<script src="/Public/umeditor/umeditor.config.js"></script>
<script src="/Public/umeditor/umeditor.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/admin/css/topic.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/umeditor/themes/default/css/umeditor.min.css" />                      


<div class="row-fluid">

    <{include file="default/Index/left" /}>

    <div class="span12" style="background-color: #fff;margin-left: 225px;">



        <!-- BEGIN SAMPLE FORM PORTLET-->

        <div class="color-panel hidden-phone" style="margin-left: 22px; margin-top: 53px;">



            <div class="color-mode-icons icon-color"></div>



            <div class="color-mode-icons icon-color-close"></div>



            <h3 class="page-title">



                用户记录增加



                <!-- <small>form layouts and more</small>-->



            </h3>







            <ul class="breadcrumb">



                <li>



                    <i class="icon-home"></i>



                    <a href="#">记录增加</a>



                    <span class="icon-angle-right"></span>



                </li>



                <li><a href="#">增加记录</a></li>



            </ul>

        </div>

        <div class="portlet box blue tabbable" style="margin-left: 22px;">



            <div class="portlet-title">



                <div class="caption">



                    <i class="icon-reorder"></i>



                    <span class="hidden-480">记录</span>



                </div>



            </div>



            <div class="portlet-body form">



                <div class="tabbable portlet-tabs">

                    <div class="tab-content">



                        <div class="tab-pane active" id="portlet_tab1">

                            <form action="<{:U('Block/addBlockData')}>" method="post" enctype="multipart/form-data"  class="form-horizontal">
                            <div class="control-group" style="margin-top: 77px">



                                    <label class="control-label">用户：</label>
                                     


                                    <div class="controls">
                                         <input type="text" name="nickname" class="m-wrap medium nickname"/>
                                         <input type="hidden" class="uid" name="uid"/>
                                     </div>
                                     <ul class="user_name"style="display:none"></ul>

                                </div>
                                 
                                
                                <div class="control-group" style="margin-bottom:60px;">
                                   <label class="control-label">ip值：</label>
                                    <div class="controls">
                                        <input type="text" name="ip" class="m-wrap medium"/>  
                                    </div>
                                   
                                </div>
                                 
                                <div class="form-actions">



                                    <button type="submit" id="qieding" class="btn blue topic_add"><i class="icon-ok"></i> Save</button>



                                    <button type="button" id="quxiao" class="btn">Cancel</button>

                                </div>





                            </form>



                        </div>

                    </div>



                </div>



            </div>



        </div>



        <!-- END SAMPLE FORM PORTLET-->



    </div>



</div>
<script>
   var SEARCH_USER_NAME = "<{:U('Home/Block/userBlockSearch')}>";
</script>
<script src="__PUBLIC__/admin/js/manage.js"></script>
<{include file="default/Public/footer" /}>