<div class="addactive addtopic">
    <div class="add_title">
        <p>图片</p>
        <a href="javascript:void(0);" title="" class="closebtn2 close_form"></a>
    </div>
    <span class="hei40"></span>
        
    <div>
    <form method="post" id="add-zhengji-form" action="javascript:;">
        <div style="text-align: center;">
            <img src="<{$img}>" id="jcrop_target" style="height:400px;">
        </div>
        <div class="addactiveitem">
            <p class="add_comleft">描述：</p>
            <div class="add_comright">
                <input type="text" class="text4" id="desc" placeholder="请输入描述">
            </div>
            <div class="clear"></div>
        </div>
        <a href="javascript:;" title="确认提交" class="add_submit add-zhengji-do" data-aid="<{$aid}>" data-attachmentid="<{$attachmentid}>">确定</a>
    </form>
</div>
