<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<h3 id="effect">
	<span>欢</span>
	<span>迎</span>
	<span>加</span>
	<span>入</span>
	<span><{$fid|getFansgroupById}></span>
</h3>
<!--小人只在首页显示 start*-->
<div id="spig" class="spig">
    <div id="message">正在加载中……</div>
    <div id="mumu" class="mumu"></div>
</div>
<!--小人end*-->


<div id="ajax_form"></div>
<footer class="footer">
    ©2015-2021  影加版权所有  <a href="/sitemap.xml">站点地图</a> 技术支持<a href="https://www.80shihua.com/" title="梦回故里">梦回故里</a>  <a href="https://beian.miit.gov.cn/">吉ICP备15000553号-1</a> 
</footer>
<div class="alphalayer"></div>
<noscript><p class="noscript">为了更好的体验,请不要阻止javascript</p></noscript>
