<div class="loginbox">
    <form class="clear" action="javascript:;" method="post" id="forgetpasswordform">
    <a href="javascript:void(0);" title="" class="closelayer close_form"></a>
    <span class="regtitle">重设密码</span>
    <input type="text" class="uid text3" name="telephone" id="telephone" placeholder="填写手机号码">
    <div class="validnum validnum2">
        <input type="text" name="captcha" id="captcha" placeholder="验证码">
        <span id="sendcaptcha" data-type='forgetpassword'>获取验证码</span>
        <div class="clear"></div>
    </div>
    <input type="password" class="uid text3" name="password" id="password" placeholder="密码">
    <input type="password" class="uid text3" id="confirm_password" placeholder="确认密码">
    <div class="regbtns regbtns2">
        <a href="javascript:;" title="取消" class="cancel close_form">取 消</a>
        <a href="javascript:;" title="确认" class="confirm forgetpassword_sure">确 认</a>
    </div>
    </form>
</div>


<!-- <div class="real_content">
    <div class="repassword">
        <div class="repassword_top top">
            <label onclick="switch_login()">返回</label>
            <h1>重设密码</h1>
            <a href="javascript:;" onclick="close_form()">×</a>
        </div>
        <div  class="repassword_tip"></div>
        <div class="form_div repassword_form">
            <form class="clear" action="javascript:;" method="post" id="lostpassform">
                <p class="repassword_phone p_input">
                    <label for="telephone">手机号</label>
                    <input type="text" name="telephone" id="telephone" placeholder="填写手机号"/>
                </p>
                <p class="p_input password" style="width: 135px;">
                    <label for="lost_captcha" style="float: left">验证码</label>
                    <input type="text" name="captcha" id="lost_captcha" placeholder="填写验证码" style="width: 64px !important;float: left;margin-left: 0px;"/>
                    <button class="yan_zhen_man" id="forgetpassword_sendcaptcha" data-tip="repassword_tip" data-form="lostpassform">获取验证码</button>
                </p>
                <p class="new_password p_input">
                    <label for="lost_password">新密码</label>
                    <input type="password" name="password" id="lost_password" placeholder="填写新密码"/>
                </p>
                <p class="new_password p_input">
                    <label for="confirm_password">确认密码</label>
                    <input type="password" id="confirm_password" placeholder="填写确认密码"/>
                </p>
                <p>
                    <a class="cancel" href="javascript:;" onclick="close_form()">取消</a>
                    <a class="repassword_sure" href="javascript:;">确定</a>
                </p>
            </form>
        </div>
    </div>
</div> -->
