<script>
	var is_login = "<{$is_login}>";
	var fid = "<{$fid}>";
	var pid = "<{$pid}>";
	var type = "<{$response_type}>";
	var login_form_url = "<{:U('Pc/login')}>";//登录表单
	var register_form_url = "<{:U('Pc/register')}>";//注册表单
	var forgetpassword_form_url = "<{:U('Pc/forgetpassword')}>";//找回密码表单
	var login_url = "<{:U('Login/login')}>"; //登录处理
	var register_url = "<{:U('Login/register')}>"; //登录处理
	var forgetpassword_url = "<{:U('Login/forgetpassword')}>"; //忘记密码
	var check_telephone_url = "<{:U('Login/checktelephone')}>";//查询手机号
	var send_captcha_url = "<{:U('Captcha/send')}>";//发送验证码
	var join_forum_url = "<{:U('Forum/joinforum')}>";//加入工作室
	var exit_forum_url = "<{:U('Forum/exitforum')}>"; //退出工作室
	var upload_img_url = "<{:U('UploadImg/upload')}>";//上传图片处理,返回附件id
	var upload_forumpicture_url = "<{:U('UploadImg/upload')}>";//上传图片
	var add_forumpicture_url = "<{:U('ForumPicture/add')}>";//添加到照片墙
	var add_response_do_url = "<{:U('Response/add')}>";//添加回复
	var add_response_do_html_url = "<{:U('Response/add',array('cateogry'=>'pc_html'))}>";//添加评论
	var response_page_url = "<{:U('Response/reseponsepage')}>";//回复ajax分页
	var search_forum_user_url = "<{:U('Forum/searchuser')}>";//搜索工作室人员
	var create_online_activity_url = "<{:U('Pc/createonlineactivity')}>";//创建线上活动
	var create_online_activity_do_url = "<{:U('OnlineActivity/add')}>";//创建线上活动
	var create_movie_activity_url = "<{:U('Pc/createmovieactivity')}>";//创建包场活动表单
	var create_movie_activity_do_url = "<{:U('MovieActivity/add')}>";//创建包场活动;
	var get_cities_by_provine_url = "<{:U('Place/getCityByProvince')}>";//根据城市获取省份
	var get_cinemas_by_place_url = "<{:U('Place/getCinemaByPlace')}>";//根据地区获取影院
	var upload_vote_image_url = "<{:U('UploadImg/upload')}>";//投票活动图片
	var get_attachment_img_url = "<{:U('Attachment/get')}>";//获取附件图片url
	var get_attachment_info_url = "<{:U('Attachment/get')}>";//获取附件信息
	var create_topic_url = "<{:U('Pc/createtopic')}>";//创建话题表单
	var add_topic_do_url = "<{:U('Topic/add')}>";//创建话题
	var get_latest_response_url = "<{:U('Response/get')}>";//获取最新回复
	var get_more_message_url = "<{:U('Response/getlisting')}>";//获取之前的回复
	var add_response_favor_url = "<{:U('Favor/favor')}>";//点赞
	var check_response_favor_url = "<{:U('Favor/checkfavor')}>";//检查是否点赞
	var submit_vote_url = "<{:U('OnlineActivity/submitVote')}>";//线上活动投票
	var hot_topic_page_url = "<{:U('Pc/hot_topic_list')}>";//热门话题列表分页
	var topic_page_url = "<{:U('Topic/getlisting')}>";//话题列表
	var video_page_url = "<{:U('Pc/video_list')}>"//视频列表
	var add_forum_video_url = "<{:U('Video/add')}>";//添加视频
	var upload_video_url = "<{:U('Pc/upload_video_form')}>";//上传列表
	var get_vote_text_result_url  = "<{:U('Pc/online_vote_text_result')}>";//
	var get_vote_image_result_url = "<{:U('Pc/online_vote_image_result')}>";
	var share_weibo_img_url = "<{:U('Pc/share_weibo_img')}>";//微博分享图片
    var upload_poster_url = "<{:U('UploadImg/upload')}>";//上传征集活动图片
	var crop_poster_url = "<{:U('UploadImg/crop')}>";//截取图片获取
    var crop_do_url = "<{:U('UploadImg/cropdo')}>";//截取图片处理
    var add_zhengji_url = "<{:U('Pc/addZhengji')}>";//征集添加描述
    var add_poster_do_url = "<{:U('OnlineActivity/uploadCollectPoster')}>";//线上活动征集图片处理
	var add_movie_feedback_url = "<{:U('MovieActivity/uploadFeedback')}>";//反馈上传
	var add_movie_feedback_do_url = "<{:U('MovieActivity/addUploadFeedback')}>";//反馈伤处处理
    var get_more_poster_info_url = "<{:U('OnlineActivity/getMoreCollcet')}>";//获取更多线上征集活动
    var poster_favor_url = "<{:U('OnlineActivity/favorPoster')}>";//线上活动点赞
    var delete_poster_url = "<{:U('OnlineActivity/deletePoster')}>";//删除线上活动
	var recommend_activity_page_url = "<{:U('Pc/recommendActivityPage')}>";//推荐列表分页
	var movie_activity_page_url = "<{:U('Pc/movieActivityPage')}>";//包场活动分页
	var online_activity_page_url = "<{:U('Pc/onlineActivityPage')}>";//线上活动分页
	var welfare_event_page_url  = "<{:U('Pc/welfareEventPage')}>";//公益分页
	var get_enroll_url = "<{:U('MovieActivity/getEnrollUrl')}>";//获取支付页面
	var leave_movie_activity_telephone_url = "<{:U('pc/leave_movie_activity_telephone')}>";//电影包场留下电话号码
    var check_captcha_url=  "<{:U('Captcha/check')}>";//验证手机号
	var check_order_telephone_url = "<{:U('MovieActivity/checkTelephone')}>";//验证电话号码
	var check_order_captcha_url = "<{:U('MovieActivity/checkCaptcha')}>";//检查验证码
	var pay_order_url = "<{:U('MovieActivity/payOrder')}>";//订单支付
    var show_donation_form_url = "<{:U('Pc/donationform')}>";//公益支付表单
	var donate_order_page_url = "<{:U('Pc/donatepage')}>";//公益支付页面
	var apply_welfare_url = "<{:U('WelfareEvent/apply')}>";//公益申请
</script>