<{assign name="title" value="$forum.fansgroup"/}>
<{include file="default/pc/header"/}>
<{include file="default/pc/nav"/}>
<link rel="stylesheet" type="text/css" href="/Public/default/css/index.css"/>

<div class="banner">
	<div class="container">
		<div class="left_curtain"></div>
		<div class="right_curtain"></div>
	</div>
</div>

<div class="container">
	<div class="index_left_content">
		<h2>影视<span>爱豆</span></h2>
		<div class="divider"></div>
		<ul class="forum_list">
			<li>
				<div class="userphoto">
					<a href="<{:U('Pc/forum',array('fid'=>19))}>" target="_blank" title="刘亦菲"><img src="/Public/default/images/photo/liuyifei.png" alt="刘亦菲"/></a>
					<span>刘亦菲</span>
				</div>
				<a href="<{:U('Pc/forum',array('fid'=>19))}>" target="_blank" title="刘亦菲"><div class="join_forum_btn">亦+</div></a>
			</li>
			<li>
				<div class="userphoto">
					<a href="<{:U('Pc/forum',array('fid'=>2))}>" title="钟汉良"><img src="/Public/default/images/photo/zhonghanliang.png" alt="钟汉良"/></a>
					<span>钟汉良</span>
				</div>
				<a href="<{:U('Pc/forum',array('fid'=>2))}>" title="钟汉良"><div class="join_forum_btn">良民+</div></a>
			</li>
			<li>
				<div class="userphoto">
					<a href="<{:U('Pc/forum',array('fid'=>18))}>" target="_blank" title="赵丽颖"><img src="/Public/default/images/photo/zhaoliying.png" alt="赵丽颖"/></a>
					<span>赵丽颖</span>
				</div>
				<a href="<{:U('Pc/forum',array('fid'=>18))}>" target="_blank" title="赵丽颖"><div class="join_forum_btn">萤火虫+</div></a>
			</li>
		</ul>
		<div class="hope">更多实力偶像将跟随影视作品强势登录影+,敬请期待!</div>
	</div>
	<div class="index_right_content">
		<div class="section mt30 pt20">
			<div class="left">
				<img src="http://yingplus-10014575.cossh.myqcloud.com/images/huamulan.png" alt="花木兰"/>
				<a href="<{:U('Pc/forum',array('fid'=>19))}>" target="_blank"><span class="movie_sepecial_btn"></span></a>
			</div>
			<div class="right">
				<div class="title">
					<a href="<{:U('Pc/forum',array('fid'=>19))}>" target="_blank"><h3>花木兰</h3></a>
					<span>mulan</span>
				</div>
				<div class="release_date">
					上映日期: 2020-03-27
				</div>
				<div class="elite_title">
					巾帼不让须眉
				</div>
				<div class="desc">
					<p>
						剧情:<br>
						在古代中国，一位年轻的女子为了救她的父亲假扮成男装代父从军，在穿越中国广袤土地的壮丽征程中，她从紧张的训练和战争中存活下来，发现自己内心的战士，并且最终从外族侵略者手中救回了皇帝和她的祖国
					</p>
				</div>
			</div>
		</div>
		<div class="section mt30 pt20">
			<div class="left">
				<div class="title">
					<a href="<{:U('Pc/forum',array('fid'=>25))}>" target="_blank"><h3>沉默的证人</h3></a>
					<span>Bodies at Rest</span>
				</div>
				<div class="release_date">
					上映日期: 2019-04-04
				</div>
				<div class="elite_title">
					血色圣诞
				</div>
				<div class="desc">
					<p>
						剧情:<br>
						三名手持武器的狂躁匪徒在平安夜杀入香港法医中心抢夺证物，枪杀了楼中保安，并挟持和暴虐对待两位法医。在此期间，法医对匪徒身份起了怀疑，而他们真正目的似乎另有隐情。法医偷换证物并利用对环境的了解和身边专业器材如柳叶刀、化学试剂等等进行拼死反抗，最终和被逼入末路的匪徒展开近身肉搏，面对法医中心即将楼毁人亡的情景，双方同归于尽还是一方侥幸逃脱还未可知
					</p>
				</div>
				
			</div>
			<div class="right">
				<img src="http://yingplus-10014575.cossh.myqcloud.com/images/%E6%B2%89%E9%BB%98%E7%9A%84%E8%AF%81%E4%BA%BA.png" alt="三人行"/>
				<a href="<{:U('Pc/forum',array('fid'=>25))}>" target="_blank"><span class="movie_sepecial_btn"></span></a>
			</div>
		</div>
		<div class="section mt30 pt20">
			<div class="left">
				<img src="http://yingplus-10014575.cossh.myqcloud.com/image/xiayouqiaomu_img.png" alt="夏有乔木 雅望天堂"/>
				<a href="http://xiayouqiaomu.80shihua.com/" target="_blank"><span class="movie_sepecial_btn"></span></a>
			</div>
			<div class="right">
				<div class="title">
					<a href="http://xiayouqiaomu.80shihua.com/" target="_blank"><h3>夏有乔木 雅望天堂</h3></a>
					<span>Sweet Sixteen</span>
				</div>
				<div class="release_date">
					上映日期: 2016-08-05
				</div>
				<div class="elite_title">
					一往情深深几许，深山夕照深秋雨
				</div>
				<div class="desc">
					<p>
						剧情:<br>
						夏木是一个俊美的少年，但不幸的遭遇让他只生活在自己的世界中。舒雅望出现后，他的人生才从黑白变成彩色。但是舒雅望身边却有一个青梅竹马的唐小天，由此夏木、舒雅望、唐小天从少年到青年展开了一场爱情追逐战。
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<{include file="default/pc/footer"/}>
</body>
</html>
