<{assign name="title" value="公益发起页"/}>
<{include file="default/pc/header"/}>
<{include file="default/pc/nav"/}>
<link href="/Public/default/faqigongyi/css/index.css" rel="stylesheet" type="text/css"/>
<div class="all">
    <div class="bg bg_1">
    </div>
    <div class="bg bg_2">
    </div>
    <div class="bg bg_3">
    </div>
    <div class="main">
        <div class="flower">
        </div>
        <div class="main_left">
            <div class="bg_dl">
                <div class="dl_content">
                    追星，不是狂热的冲动，以偶像之名播撒爱心，才是给TA最好的爱和祝福！有爱才能远行，有为才更加动人，一起行动，爱让我们不孤单！
                    <br/>
                    <span>
                        验证手机号码，带领梅格妮开启一段新的公益旅程！
                    </span>
                    <br/>
                    两日内影加的工作人员即将联系您，为您举办公益活动提供全方位的支持。影+倡导正
                    <br/>
                    能量追星，深度合作多个权威公益组织，已协助粉丝发起多场公益应援。
                </div>
                <div class="dl">
                    <input class="phone pub welfare_telephone" placeholder="填写手机号码" id="telephone" type="text"/>
                    <div>
                        <input class="code pub welfare_captcha" placeholder="验证码" type="text"/>
                        <button class="button pub"  id="sendcaptcha">
                            发送验证码
                        </button>
                    </div>
                    <button class="ok pub apply_welfare">
                        确定
                    </button>
                </div>
            </div>
            <div class="cooperate">
                合作公益组织
            </div>
            <div>
                <div class="l_1">
                </div>
                <div class="r_1">
                </div>
            </div>
            <div class="table">
                <div class="table_one">
                    <div class="img img_1">
                    </div>
                    <div class="word">
                        <a href="http://www.aixinyichu.org/">
                            <span class="name">
                                爱心衣橱
                            </span>
                        </a>
                        <span class="word_content">
                            隶属于中国青少年发展基金会，以“用爱心呵护孩子冷暖”为使。通过各种不同渠道，汇聚社会各方力量筹集资金，给偏远、高寒地区的孩子们定制防风防雨保暖透气的新衣服，并倡议社会各界爱心人士关注贫困地区儿童的心灵关爱和教育问题。
                        </span>
                    </div>
                </div>
            </div>
            <div class="line_2">
            </div>
            <div class="table">
                <div class="table_one">
                    <div class="img img_2">
                    </div>
                    <div class="word">
                        <a href="http://www.millionforest.org/" target="_blank">
                            <span class="name">
                                百万森林
                            </span>
                        </a>
                        <span class="content">
                            隶属于中国绿化基金会，肩负西部沙化严重地区绿化使命。项目的设计是从“生态+扶贫”的角度来切入，在保护当地生态环境的同时，增加农户的收入。截止目前为止，百万森林项目已经累计种植超过360万棵树。
                        </span>
                    </div>
                </div>
            </div>
            <div class="line_2">
            </div>
            <div class="table">
                <div class="table_one">
                    <div class="img img_3">
                    </div>
                    <div class="word">
                        <a href="http://weibo.com/u/5191800598" target="_blank">
                            <span class="name">
                                中华魂捐书助学
                            </span>
                        </a>
                        <span class="content">
                            隶属于中国下一代教育基金会，以“为爱而来，让贫困地区的孩子们也能享受平等的快乐阅读。”为使命。主要汇集各方力量向贫困地区的学校捐赠课外书籍，同时该组织，以10元一本书的形式接受社会捐款。
                        </span>
                    </div>
                </div>
            </div>
            <div class="line_2">
            </div>
            <div class="table">
                <div class="table_one">
                    <div class="img img_4">
                    </div>
                    <div class="word">
                        <a href="http://ccn.people.com.cn/GB/370075/398825/index.html" target="_blank">
                            <span class="name">
                                郑州市音乐之光志愿服务中心
                            </span>
                        </a>
                        <span class="content">
                            （民间非营利组织）隶属于郑州市民政局。以特殊教育为主、服务残疾儿童学习音乐的专门机构。服务宗旨：为更多的残疾儿童提供免费学习音乐的机会，汇集社会善士爱心，为残疾儿童提供学习的平台，让社会爱心的暖阳照耀这一特殊群体。
                        </span>
                    </div>
                </div>
            </div>
            <div class="line_2">
            </div>
            <div class="table">
                <div class="table_one">
                    <div class="img img_5">
                    </div>
                    <div class="word">
                        <a href="http://www.baixi.org/profile/" target="_blank">
                            <span class="name">
                                百蹊助学
                            </span>
                        </a>
                        <span class="content">
                            隶属于广东省百蹊教育基金会，服务宗旨为资助贫困地区就学有困难的贫困学生，和有生活困难的贫困教师；为贫困地区在教育事业发展过程中遇到的特殊困难提供资助；
                        </span>
                    </div>
                </div>
            </div>
            <div class="line_2">
            </div>
        </div>
        <div class="main_right">
            <ul>
                <li class="ing">
                    公益ing
                </li>
                <li>
                    <div class="l_3">
                    </div>
                    <div class="r_3">
                    </div>
                </li>
                <a href="###">
                    <li class="shamo">
                    </li>
                </a>
                <li class="kris">
                    Kris林——为爱播种，拒绝荒漠
                </li>
                <li>
                    <div class="l_3">
                    </div>
                    <div class="r_3">
                    </div>
                </li>
                <div class="plan">
                    <li class="content pt">
                        发起方：
                        <a href="http://www.millionforest.org/" target="_blank">
                            <span>
                                百万森林计划
                            </span>
                            <i>
                            </i>
                        </a>
                    </li>
                    <li class="content">
                        认领方：
                        <span>
                            Kris真的不凡
                        </span>
                    </li>
                    <li class="content">
                        执行地：
                        <span>
                            甘肃省民勤县
                        </span>
                    </li>
                    <li class="content">
                        项目时间：
                        <span>
                            <{$event.begintime|date='Y-m-d',###}>-<{$event.endtime|date='Y-m-d',###}>
                        </span>
                    </li>
                    <li class="content">
                        已筹集：
                        <b>
                            ¥<{$collect_money}>
                        </b>
                    </li>
                    <li class="content mt- ml30">
                        <{$collect_user_num}>
                        <span>
                            位梅格妮参与
                        </span>
                    </li>
                </div>
                <li class="leader">
                    公益领航者
                </li>
                <li>
                    <div class="l_3">
                    </div>
                    <div class="r_3">
                    </div>
                </li>
                <li class="leader_img">
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix">
</div>
<script>
    $('.apply_welfare').click(function(){
        var telephone = $('.welfare_telephone').val();
        var captcha = $('.welfare_captcha').val();
        $.post(check_captcha_url,{'telephone':telephone,'captcha':captcha},function(result){
            if(result.data.code==0){
                $.post(apply_welfare_url,{'telephone':telephone},function(result_info){
                    if(result_info.data.code==0){
                        alert('您的申请已提交，请等待工作人员联系~');
                    }else{
                        alert('申请失败');
                    }
                });
            }else{
                alert('验证码不正确');
            }
        });
    });
</script>
<{include file="default/pc/footer"/}>
</body>
</html>
