<div class="loginbox">
    <form class="clear" action="javascript:;" method="post" id="loginform">
    <a href="javascript:;" title="" class="regedit head_sign">注册新用户</a>
    <a href="javascript:void(0);" title="" class="closelayer close_form"></a>
    <a href="#" title="" class="logo2"><img src="/Public/default/images/logo2.jpg"></a>
    <span class="otherway2">其他方式登录：</span>
    <div class="loginbtns">
        <a href="javascript:;" title="微博登录" class="weibo_login"><img src="/Public/default/images/icoweibo.jpg" alt="微博登录"></a>
        <a href="javascript:;" title="QQ登录" class="qq_login"><img src="/Public/default/images/icoqq.jpg" alt="QQ登录"></a>
    </div>
    <input type="text" class="uid" name="telephone" id="telephone" placeholder="填写手机号码">
    <input type="password" class="uid" name="password" id="password" placeholder="密码">
    <a href="javascript:;" title="登录" class="loginbtn login_sure">登录</a>
    <div class="loginlinks">
        <label class="markpwd"><input type="checkbox" id="remember" name="remember" value="1" checked="checked"> 记住密码</label>
        <a href="javascript:;" title="忘记密码" class="forgetpwd forget_password">忘记密码？</a>
    </div>
    </form>
</div>