<{assign name="title" value="吴亦凡益起来"/}>
<{include file="default/pc/header"/}>
<{include file="default/pc/nav"/}>
<link rel="stylesheet" type="text/css" href="/Public/default/yiqilai/css/index.css"/>
    <div>
        <div class="banner">
            <div class="banner-wrap">
                <div class="video" >
                    <video type="video/mp4" width="344px" height="230px" controls>
                        <source src="http://yingplus-10014575.video.myqcloud.com/5709f2985dddc.mp4" type="video/webm"/>
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <ul style="padding-top:20px;">
            <li class="clearfix mb30 h1">
                <div class="info">
                    <div class="clearfix">
                        <ul>
                            <li class="t" style="margin-left: -10px;margin-top: 20px;">
                                发起者
                                <img src="/Public/default/yiqilai/img/shuo.png" style="margin-left: 30px;"/>
                            </li>
                        </ul>
                        <i class="dot">
                        </i>
                    </div>
                </div>
                <div class="section ">
                    <i class="arrow_left">
                    </i>
                    <div class="intro mb30">
                        <h3>
                            长春 KRIS_亦凡站发起“1106吴亦凡生日公益应援——木铺小学行”
                        </h3>
                        <p>
                            长春市双阳区太平镇木铺小学是一所村级小学，学校仅有一排平房，只有四十个孩子和十多个老师，孩子们绝大多数都是留守儿童。 由于所处的地理位置，使得他们很少有机会接触城市及课外读物，除了能在课堂上学到知识以外，很难有办法去丰富与充实自己。
                            
                        </p>
                    </div>
                    <div class="intro">
                        <h3>
                            物品征集，妮妮动起来
                        </h3>
                        <p>
                            此次公益应援将集结适合小学生读的各类课外读物，文具以及体育用品，希望他们能通过课外书去了解外面的世界。 妮妮们，多年追随，一路喜爱，一定要将吴亦凡身上满满的正能量传扬。如果妮妮有闲置的课外书或者文体用品请邮寄到以下地址：
                            吉林省长春市高新区吉林大学南校区 KRIS-亦凡站 收
                            联系电话：15043084512
                            
                        </p>
                    </div>
                    <div class="intro">
                        <ul class="pic-list2">
                            <li class="l1">
                                <img class="img_one" src="/Public/default/yiqilai/img/1.jpg"/>
                            </li>
                            <li class="l1">
                                <img class="img_one" src="/Public/default/yiqilai/img/2.jpg"/>
                            </li>
                            <li class="l1">
                                <img class="img_one" src="/Public/default/yiqilai/img/3.jpg"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="clearfix mb30 h2">
                <div class="info">
                    <div class="clearfix">
                        <ul>
                            <li class="m">
                                &nbsp;
                            </li>
                            <li class="t">
                            <div style="width:160px;height:0px;margin-left:-30px;">我们要出发啦，</div>
                            <div style="width:160px;height:0px;margin-left:-30px;">激动……</div>
                            
                            </li>
                        </ul>
                        <i class="dot">
                        </i>
                    </div>
                </div>
                <div class="section">
                    <i class="arrow_left">
                    </i>
                    <div class="intro mb20">
                        <p>
                            2015年10月23日，天刚刚亮，我们载着对吴亦凡的爱，带着梅格妮们集结的物资和满满的祝福上路啦……
                            
                        </p>
                    </div>
                    <div class="intro">
                        <ul class="pic-list2">
                            <li class="l1">
                                <img class="img_two" src="/Public/default/yiqilai/img/4.jpg"/>
                            </li>
                            <li class="l1">
                                <img class="img_two" src="/Public/default/yiqilai/img/5.jpg"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="clearfix mb30 h2">
                <div class="info">
                    <div class="clearfix">
                        <ul>
                            <li class="m">
                                &nbsp;
                            </li>
                            <li class="t">
                                <div style="width:160px;height:0px;margin-left:-40px;">久违的升旗仪式，</div>
                            <div style="width:160px;height:0px;margin-left:-40px;">感动……</div>
                            </li>
                        </ul>
                        <i class="dot">
                        </i>
                    </div>
                </div>
                <div class="section ">
                    <i class="arrow_left">
                    </i>
                    <div class="intro mb20">
                        <p>
                            伴随着朝阳和周围金黄的田野，这所小学仅有的39名小学生举行了升旗仪式。
                            
                        </p>
                    </div>
                    <div class="intro">
                        <ul class="pic-list2">
                            <li class="l1">
                                <img class="img_two" src="/Public/default/yiqilai/img/6.jpg"/>
                            </li>
                            <li class="l1">
                                <img class="img_two" src="/Public/default/yiqilai/img/7.jpg"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="clearfix mb30 h3">
                <div class="info">
                    <div class="clearfix">
                        <ul>
                            <li class="m">
                                &nbsp;
                            </li>
                            <li class="t">
                                欢迎仪式，感谢……
                            </li>
                        </ul>
                        <i class="dot">
                        </i>
                    </div>
                </div>
                <div class="section ">
                    <i class="arrow_left">
                    </i>
                    <div class="intro mb20">
                        <p>
                            升旗仪式结束后大家都来到班级。校长和孩子们用简单质朴的讲话欢迎了我们，我们这一行人也以吴亦凡粉丝团的名义表达了这次应援的主题（吴亦凡生日祝福），希望孩子们能像吴亦凡哥哥学习，奋发图强，充满正能量！
                            
                        </p>
                    </div>
                    <div class="intro">
                        <ul class="pic-list2">
                            <li class="l1">
                                <img class="img_one" src="/Public/default/yiqilai/img/8.jpg"/>
                            </li>
                            <li class="l1">
                                <img class="img_one" src="/Public/default/yiqilai/img/9.jpg"/>
                            </li>
                            <li class="l1">
                                <img class="img_one" src="/Public/default/yiqilai/img/10.jpg"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="clearfix mb30 h3">
                <div class="info">
                    <div class="clearfix">
                        <ul>
                            <li class="m">
                                &nbsp;
                                <li class="t">
                                    <div style="width:160px;height:0px;margin-left:-20px;">捐赠&表演，</div>
                            <div style="width:160px;height:0px;margin-left:-20px;">感恩……</div>
                                </li>
                            </li>
                        </ul>
                        <i class="dot">
                        </i>
                    </div>
                </div>
                <div class="section ">
                    <i class="arrow_left">
                    </i>
                    <div class="intro mb20">
                        <p>
                            我们以吴亦凡的名义为孩子送上了妮妮们的爱心，孩子们都非常高兴哦！孩子们也表演了精心准备的舞蹈，那一刻，感动、感恩是我们最大的体会。看看小家伙们背诵诗歌，表演《感恩的心》的样子多可爱……
                            
                        </p>
                    </div>
                    <div class="intro">
                        <ul class="pic-list2">
                            <li class="l1">
                                <img class="img_one" src="/Public/default/yiqilai/img/11.jpg"/>
                            </li>
                            <li class="l1">
                                <img class="img_one" src="/Public/default/yiqilai/img/12.jpg"/>
                            </li>
                            <li class="l1">
                                <img class="img_one" src="/Public/default/yiqilai/img/13.jpg"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="clearfix mb30 h4">
                <div class="info">
                    <div class="clearfix">
                        <ul>
                            <li class="m">
                                &nbsp;
                            </li>
                            <li class="t">
                                <div style="width:160px;height:0px;margin-left:-20px;">游戏&告别，</div>
                            <div style="width:160px;height:0px;margin-left:-20px;">不舍……</div>
                            </li>
                        </ul>
                        <i class="dot">
                        </i>
                    </div>
                </div>
                <div class="section ">
                    <i class="arrow_left">
                    </i>
                    <div class="intro mb20">
                        <h3>
                            游戏环节，欢乐闹不停
                        </h3>
                        <p>
                            我们和孩子们一起做游戏，为他们派发小礼物，欢声笑语弥漫着整个教室，一切都是那么美好。最后，大家又一起为吴亦凡献上生日祝福！
                            
                        </p>
                    </div>
                    <div class="intro">
                        <ul class="pic-list2">
                            <li class="l1">
                                <img class="img_two" src="/Public/default/yiqilai/img/14.jpg"/>
                            </li>
                            <li class="l1">
                                <img class="img_two" src="/Public/default/yiqilai/img/15.jpg"/>
                            </li>
                        </ul>
                    </div>
                    <div class="intro mb20">
                        <h3>
                            离别悄然而至，真的很不舍,妮妮们满满的祝福送给可爱的你们！
                        </h3>
                        <p>
                            相处的时间是那么的美好和短暂，离别悄然而至,也让所有人感到伤感。望着孩子们充满不舍的脸以及追出来送别的场面，泪水在眼眶中盘旋。希望孩子们能好好学习，多读书，增长见识，开阔眼界，了解更多外面的世界！
                            
                        </p>
                    </div>
                    <div class="intro">
                        <ul class="pic-list2">
                            <li class="l1">
                                <img class="img_two" src="/Public/default/yiqilai/img/16.jpg"/>
                            </li>
                            <li class="l1">
                                <img class="img_two" src="/Public/default/yiqilai/img/17.jpg"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
<{include file="default/pc/footer"/}>    
</body>
</html>
