<{assign name="title" value="吴亦凡益起来"/}>
<{include file="default/pc/header"/}>
<{include file="default/pc/nav"/}>
<link rel="stylesheet" type="text/css" href="/Public/default/zhonghanliang_yiqilai/css/index.css"/>
    <div>
        <div class="banner">
            <div class="banner-wrap">

            </div>
        </div>
    </div>
    <div class="content">
        <ul style="padding-top:20px;">
            <li class="clearfix mb30 h1">
                <div class="info">
                    <div class="clearfix">
                        <ul>
                            <li class="t" style="margin-left: -10px;margin-top: 20px;">
                                发起者
                                <img src="/Public/default/zhonghanliang_yiqilai/img/shuo.png" style="margin-left: 30px;"/>
                            </li>
                        </ul>
                        <i class="dot">
                        </i>
                    </div>
                </div>
                <div class="section ">
                    <i class="arrow_left">
                    </i>
                    <div class="intro mb30">
                        <h3>
                            跟着太阳走——哇迷公益在行动
                        </h3>
                        <p>
                            本次阳光之行来到位于位于云南省文山州砚山县阿猛镇卡子村的卡子小学，全校学生81人，教师4人。学生的教学设备简陋，环境艰苦，更重要的是无法接受德智体美的全面教育。所以本次应援贴心的哇迷们主要为同学们送去多种体育用品。
                        </p>
                    </div>
                    <div class="intro">
                        <ul class="pic-list2">
                            <li class="l1">
                                <img class="img_one" src="/Public/default/zhonghanliang_yiqilai/img/1.jpg"/>
                            </li>
                            <li class="l1">
                                <img class="img_one" src="/Public/default/zhonghanliang_yiqilai/img/2.jpg"/>
                            </li>
                            <li class="l1">
                                <img class="img_one" src="/Public/default/zhonghanliang_yiqilai/img/3.jpg"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="clearfix mb30 h2">
                <div class="info">
                    <div class="clearfix">
                        <ul>
                            <li class="m">
                                &nbsp;
                            </li>
                            <li class="t">
                            <div style="width:160px;height:0px;margin-left:-30px;">精心的准备：</div>
                            <div style="width:160px;height:0px;margin-left:-30px;"></div>
                            
                            </li>
                        </ul>
                        <i class="dot">
                        </i>
                    </div>
                </div>
                <div class="section">
                    <i class="arrow_left">
                    </i>
                    <div class="intro mb20">
                        <p>
                            为了这次应援，钟汉良—哇迷公益群和所有参与的小伙伴们，用心做了海报，并且为孩子们精心挑选购买了各种体育用品。
                        </p>
                    </div>
                    <div class="intro">
                        <ul class="pic-list2">
                            <li class="l1">
                                <img class="img_two" src="/Public/default/zhonghanliang_yiqilai/img/4.jpg"/>
                            </li>
                            <li class="l1">
                                <img class="img_two" src="/Public/default/zhonghanliang_yiqilai/img/5.jpg"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="clearfix mb30 h2">
                <div class="info">
                    <div class="clearfix">
                        <ul>
                            <li class="m">
                                &nbsp;
                            </li>
                            <li class="t">
                                <div style="width:160px;height:0px;margin-left:-40px;">抵达学校：</div>
                            <div style="width:160px;height:0px;margin-left:-40px;"></div>
                            </li>
                        </ul>
                        <i class="dot">
                        </i>
                    </div>
                </div>
                <div class="section ">
                    <i class="arrow_left">
                    </i>
                    <div class="intro mb20">
                        <p>
                            2015年12月25日爱心衣橱的同事载着哇迷们满满的爱几经颠簸来到了卡子小学。
                        </p>
                    </div>
                    <div class="intro">
                        <ul class="pic-list2">
                            <li class="l1">
                                <img class="img_two" src="/Public/default/zhonghanliang_yiqilai/img/6.jpg"/>
                            </li>
                            <li class="l1">
                                <img class="img_two" src="/Public/default/zhonghanliang_yiqilai/img/7.jpg"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="clearfix mb30 h3">
                <div class="info">
                    <div class="clearfix">
                        <ul>
                            <li class="m">
                                &nbsp;
                            </li>
                            <li class="t">
                                欢乐的时光：
                            </li>
                        </ul>
                        <i class="dot">
                        </i>
                    </div>
                </div>
                <div class="section ">
                    <i class="arrow_left">
                    </i>
                    <div class="intro mb20">
                        <p>
                            本次公益应援由钟汉良—哇迷公益群携手@爱心衣橱 @米公益共同发起，感谢爱心衣橱与米公益对哇迷的帮助。 以偶像之名，将正能量传递。希望孩子们能有坚实的体魄，铸就美好的未来。
                        </p>
                    </div>
                    <div class="intro">
                        <ul class="pic-list2">
                            <li class="l1">
                                <img class="img_one" src="/Public/default/zhonghanliang_yiqilai/img/8.jpg"/>
                            </li>
                            <li class="l1">
                                <img class="img_one" src="/Public/default/zhonghanliang_yiqilai/img/9.jpg"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
<{include file="default/pc/footer"/}>    
</body>
</html>
