<div style="position: absolute;top: 250px;left:750px;">

    <div>

        <span style="color: blue">上传头像</span>

        <input type="file" name="photo" style="margin-left: 18px"/><br/>

    </div>

    <div style="margin-top: 50px">

        <span style="color: blue">上传工作室banner</span>

        <input type="file" name="banner" style="margin-left: 18px"/><br/>

    </div>

    <div style="margin-top: 50px">

        <span style="color: blue">上传首页推荐头像</span>

        <input type="file" name="indexphoto" style="margin-left: 18px"/><br/>

    </div>

    <div style="margin-top: 50px">

        <span style="color: blue">上传话题/活动banner</span>

        <input type="file" name="indexphoto" style="margin-left: 18px"/><br/>

    </div>

</div>