<div id="site_statistics_content">

    <div id="sign_statistics_chart"></div>

</div>

<style type="text/css">
    #sign_statistics_chart{
        width:100%;
        height: 200px;
    }
</style>

<script type="text/javascript">
    require.config({
        packages: [
            {
                name: 'echarts',
                location: '../../../Public/admin/js/echarts',
                main: 'echarts'
            },
            {
                name: 'zrender',
                location: 'http://ecomfe.github.io/zrender/src',
                //location: '../../../zrender/src',
                main: 'zrender'
            }
        ]
    });
    require(
        [
            'echarts',
            'echarts/chart/line',
            'echarts/chart/bar',
            'echarts/chart/scatter',
            'echarts/chart/k',
            'echarts/chart/pie',
            'echarts/chart/radar',
            'echarts/chart/force',
            'echarts/chart/chord',
            'echarts/chart/map',
            'echarts/chart/gauge',
            'echarts/chart/funnel',
            'echarts/chart/venn',
            'echarts/chart/treemap',
            'echarts/chart/tree',
            'echarts/chart/eventRiver'
        ],
        requireCallback
    );

    function requireCallback (ec) {
        echarts = ec;
        option = {
		    title : {
		        text: '今日签到统计',
		        subtext: ''
		    },
		    tooltip : {
		        trigger: 'axis'
		    },
		    legend: {
		        data:[]
		    },
		    toolbox: {
		        show : true,
		        feature : {
		            mark : {show: true},
		            dataView : {show: true, readOnly: false},
		            magicType : {show: true, type: ['line', 'bar']},
		            restore : {show: true},
		            saveAsImage : {show: true}
		        }
		    },
		    calculable : true,
		    xAxis : [
		        {
		            type : 'category',
		            boundaryGap : false,
		            data : [<{$week_data_key}>]
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value',
		            axisLabel : {
		                formatter: '{value}'
		            }
		        }
		    ],
		    series : [
		        {
		            name:'最高访问',
		            type:'line',
		            data:[<{$week_data_value}>],
		            markPoint : {
		                data : [
		                    {type : 'max', name: '最大值'}
		                ]
		            },
		            markLine : {
		                data : [
		                    {type : 'average', name: '平均值'}
		                ]
		            }
		        }
		    ]
		};
                    
    	var sign_statistics_chart = echarts.init(document.getElementById("sign_statistics_chart"));
    	sign_statistics_chart.setOption(option);
   
    }
    
      
</script>