
    <table class="table table-striped table-bordered table-hover table-diao" id="sample_1">
        <thead>
            <tr>
                <th>变量名</th>
                <th class="hidden-480">变量值</th>
                <th class="hidden-480">操作</th>
            </tr>
        </thead>
        <tbody>
        <{if condition="$data neq ''"}>
            <{foreach name="data" item="config"}>
                  <tr class="test-show" id="<{$config.id}>">
                      <td class="name_input" lid="<{$config.name}>">
                          <{$config.name}>
                      </td>
                      <td class="value_input hidden-480" lid="<{$config.value}>">
                        <{$config.value}>
                      </td>
                      <td class="hidden-480 " lid="<{$config.id}>">                          
                          <span  class="edit_config" style="color:#77f">编辑</span>|
                          <span  class="delete_config" style="color:#70f">删除</span>
                      </td> 
                  </tr>                        
            <{/foreach}>
        <{/if}>
        </tbody>
    </table>
    <div class="page-style" style="margin-left: 387px;">
        <{$page}>
    </div>
             <!--用于编辑变量-->
  <div class="config_all" style="display:none;">              
  </div>  
  <div class="button_div edit_var_value" style="display:none;">
    <form action="<{:U('Config/configUpdate')}>" method="post">
        <div>  
             <input type="hidden" name="config_id" class="config_id"/>
              <span>变量名：</span>                          
             <input type="text" name="config_name" class="config_name"/>
        </div>
        <div class="var_config_value">    
              <span>变量值：</span>               
             <input type="text" name="config_value" class="config_value"/>
         </div>
         <div class="button_submit">
            <input class="config_submit" type="submit" value="确定 ">
            <input class="config_submit config_reset"type="button" value="取消">
         </div>
    </form>
   </div> 
    <!--用于增加变量-->
   <div class="button_div add_var_value" style="display:none;">
    <form action="<{:U('Config/addMysqlVal')}>" method="post">
        <div>             
             <span>变量名：</span>                          
             <input type="text" name="config_name" class="config_name"/>
        </div>
        <div class="var_config_value">    
              <span>变量值：</span>               
             <input type="text" name="config_value" class="config_value"/>
         </div>
         <div class="button_submit">
            <input class="config_submit" type="submit" value="确定 ">
            <input class="config_submit config_add"type="button" value="取消">
         </div>
    </form>
   </div>       

 
 
 