<{include file="default/Public/header" /}>
<script>
    var deleteActivityResponse_URL = "<{:U('ActivityResponse/deleteAllACResponse')}>";
    $(function() {
        $(document).on("click", '#choose_all', function () {
            if (this.checked) {
                $(":checkbox[name='check']").prop('checked', true);//attr("checked",true);
            } else {
                $(":checkbox[name='check']").prop('checked', false);
            }
        });


        $(document).on('click', '#all_delete', function () {
            var repair = confirm("确定要批量删除吗？");
            if (repair == true) {
                var array = {};
                var i = 0;
                $(":checkbox[name='check']").each(function () {
                    if (this.checked) {
                        array["test[" + i + "]"] = $(this).attr("lid");
                        $("tr").remove('#' + $(this).attr("lid"));
                        i++;
                    }

                });
                $.ajax({
                    type: "POST",
                    url: deleteActivityResponse_URL,
                    data: array,
                    dataType: "json",
                    success: function (data) {
                    }, async: true

                });
                window.location.reload();
            }

        });
    });
</script>
<div class="page-container row-fluid">

    <{include file="default/Index/left" /}>

</div>

<div class="page-content">

    <div class="container-fluid">

        <div class="row-fluid">

            <div class="span12">

                <h3 class="page-title">



                    活动管理>>活动回复列表 <small>活动回复列表</small>



                </h3>

            </div>

        </div>

        <div class="row-fluid">

            <div class="span12">

                <div class="portlet box light-grey">

                    <div class="portlet-title">

                        <div class="caption"><i class="icon-globe"></i>活动回复列表</div>

                        <div class="tools">

                            <a href="javascript:;" class="collapse"></a>

                            <a href="javascript:;" class="reload"></a>

                            <a href="javascript:;" class="remove"></a>

                        </div>

                    </div>
                    <div class="portlet-body">
                    <form action="<{:U('ActivityResponse/activityResponse')}>" method="post">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">

                            <thead>
                            <tr>
                                工作室：
                                <select name="fid" name="fid">
                                    <option value="">----请选择----</option>
                                    <{foreach name="forums" item="forum"}>
                                    <option value="<{$forum['id']}>"><{$forum['name']}></option>
                                    <{/foreach}>
                                </select>
                            </tr>
                            <tr>
                               <input  style="margin-left: 100px;margin-top: -8px" type="submit" value="查询"/> 共 <font color="red"><{$count}></font> 信息
                            </tr>
                            <tr>

                                <th style="width:45px;">
                                    <input type="checkbox" id="choose_all"/>全选
                                </th>

                                <th>所属活动</th>

                                <th class="hidden-480">所属工作室</th>

                                <th class="hidden-480">回复者</th>

                                <th class="hidden-480">回复内容</th>

                                <th class="hidden-480">回复时间</th>

                                <th class="hidden-480">操作</th>


                            </tr>

                            </thead>
                            <label style="width: 86px">
                                <input  style="margin-top: 10px" id="all_delete" type="button" value="批量删除"/>
                            </label>
                            <{foreach name="activityResponseList" item="activityResponse"}>

                            <tbody>

                            <tr class="odd gradeX">

                                <td>
                                    <input type="checkbox" class="checkboxes" name="check" lid="<{$activityResponse.id}>">
                                </td>

                                <td>

                                    <{$activityResponse['activitysubject']}>

                                </td>

                                <td class="hidden-480"><{$activityResponse['forumname']}></td>

                                <td class="hidden-480"><{$activityResponse['nickname']}></td>

                                <td class="hidden-480"><{$activityResponse['content']}></td>

                                <td class="hidden-480"><{$activityResponse['time']}></td>

                                <td class="hidden-480">

                                    <a href="<{:U('Home/ActivityResponse/delResponseById',array('id'=>$activityResponse['id']))}>">删除</a>　

                                </td>

                            </tr>

                            </tbody>

                            <{/foreach}>

                        </table>

                        <div style="margin-left:45%;">

                            <{$page}>

                        </div>
                    </form>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

</div>

<script>

    $('.response-activity').parent().show();
    $('.response-activity a').css('color','#ffffff');
    $('.response-activity a').css('background','#575757');
</script>

<{include file="default/Public/footer" /}>