<{include file="default/Public/header" /}>

<div class="page-container row-fluid">


    <!-- BEGIN SIDEBAR -->


    <{include file="default/Index/left" /}>


    <!-- BEGIN PAGE -->


    <div class="page-content">


        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->


        <div id="portlet-config" class="modal hide">


            <div class="modal-header">


                <button data-dismiss="modal" class="close" type="button"></button>


                <h3>portlet Settings</h3>


            </div>


            <div class="modal-body">


                <p>Here will be a configuration form</p>


            </div>


        </div>


        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->


        <!-- BEGIN PAGE CONTAINER-->


        <div class="container-fluid">


            <!-- BEGIN PAGE HEADER-->


            <div class="row-fluid">


                <div class="span12">

                    <h3 class="page-title">


                        视频添加

                        <small>视频添加页面</small>

                    </h3>

                </div>

            </div>

            <div class="row-fluid">

                <div class="span12">

                    <div class="portlet box blue tabbable">

                        <div class="portlet-title">


                            <div class="caption">


                                <i class="icon-reorder"></i>


                                <span class="hidden-480">视频添加</span>


                            </div>


                        </div>


                        <div class="portlet-body form">


                            <div class="tabbable portlet-tabs">


                                <ul class="nav nav-tabs">


                                    <li class="active"><a href="#portlet_tab1" data-toggle="tab">默认风格</a></li>


                                </ul>


                                <div class="tab-content">


                                    <div class="tab-pane active" id="portlet_tab1">


                                        <!-- BEGIN FORM-->


                                        <form action="<{:U('Home/MovieActivity/add')}>" enctype="multipart/form-data"
                                              method="post" class="form-horizontal">


                                            <div class="control-group">


                                                <label class="control-label"> 视频标题：</label>


                                                <div class="controls">

                                                    <input style="width: 90px" class="Wdate m-wrap large" name="title"
                                                           type="text"/>

                                                </div>


                                            </div>
                                            <div class="control-group">

                                                <label class="control-label"> 所属电影：</label>

                                                <div class="controls">

                                                    <select class="m-wrap small" name="mid">
                                                        <{foreach name="movies" item="movie"}>
                                                        <option value='<{$movie.id}>'><{$movie.title}></option>
                                                        <{/foreach}>
                                                    </select>

                                                </div>

                                            </div>

                                            <div class="control-group">


                                                <label class="control-label">视频简介：</label>


                                                <div class="controls">


                                                    <textarea class="large m-wrap" rows="8" name="synopsis"></textarea>


                                                </div>


                                            </div>

                                            <div class="control-group">


                                                <label class="control-label"> 视频封面：</label>


                                                <div class="controls">

                                                    <input style="width: 90px" class="Wdate m-wrap small" name="cover"
                                                           type="file"/>
                                                    注意：视频封面为必填选项，请将视频任意你感觉不错的一帧的图片进行上传
                                                </div>


                                            </div>

                                            <div class="control-group">


                                                <label class="control-label">视频路径：</label>


                                                <div class="controls">


                                                    <textarea class="large m-wrap" rows="8" name="url"></textarea>


                                                </div>


                                            </div>

                                            <div class="control-group">


                                                <label class="control-label">手机视频路径：</label>


                                                <div class="controls">


                                                    <textarea class="large m-wrap" rows="8" name="mobileurl"></textarea>


                                                </div>


                                            </div>


                                            <div class="form-actions">


                                                <button type="submit" class="btn blue"><i class="icon-ok"></i> 保存
                                                </button>


                                                <button type="button" class="btn">取消</button>


                                            </div>


                                        </form>


                                        <!-- END FORM-->


                                    </div>


                                </div>


                            </div>


                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


<script type="text/javascript">

    //实例化编辑器

    var um = UM.getEditor('myEditor');

    um.addListener('blur', function () {

        $('#focush2').html('编辑器失去焦点了')

    });

    um.addListener('focus', function () {

        $('#focush2').html('')

    });

    //按钮的操作

    function insertHtml() {

        var value = prompt('插入html代码', '');

        um.execCommand('insertHtml', value)

    }

    function isFocus() {

        alert(um.isFocus())

    }

    function doBlur() {

        um.blur()

    }

    function createEditor() {

        enableBtn();

        um = UM.getEditor('myEditor');

    }

    function getAllHtml() {

        alert(UM.getEditor('myEditor').getAllHtml())

    }

    function getContent() {

        var arr = [];

        arr.push("使用editor.getContent()方法可以获得编辑器的内容");

        arr.push("内容为：");

        arr.push(UM.getEditor('myEditor').getContent());

        alert(arr.join("\n"));

    }

    function getPlainTxt() {

        var arr = [];

        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");

        arr.push("内容为：");

        arr.push(UM.getEditor('myEditor').getPlainTxt());

        alert(arr.join('\n'))

    }

    function setContent(isAppendTo) {

        var arr = [];

        arr.push("使用editor.setContent('欢迎使用umeditor')方法可以设置编辑器的内容");

        UM.getEditor('myEditor').setContent('欢迎使用umeditor', isAppendTo);

        alert(arr.join("\n"));

    }

    function setDisabled() {

        UM.getEditor('myEditor').setDisabled('fullscreen');

        disableBtn("enable");

    }


    function setEnabled() {

        UM.getEditor('myEditor').setEnabled();

        enableBtn();

    }


    function getText() {

        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容

        var range = UM.getEditor('myEditor').selection.getRange();

        range.select();

        var txt = UM.getEditor('myEditor').selection.getText();

        alert(txt)

    }


    function getContentTxt() {

        var arr = [];

        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");

        arr.push("编辑器的纯文本内容为：");

        arr.push(UM.getEditor('myEditor').getContentTxt());

        alert(arr.join("\n"));

    }

    function hasContent() {

        var arr = [];

        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");

        arr.push("判断结果为：");

        arr.push(UM.getEditor('myEditor').hasContents());

        alert(arr.join("\n"));

    }

    function setFocus() {

        UM.getEditor('myEditor').focus();

    }

    function deleteEditor() {

        disableBtn();

        UM.getEditor('myEditor').destroy();

    }

    function disableBtn(str) {

        var div = document.getElementById('btns');

        var btns = domUtils.getElementsByTagName(div, "button");

        for (var i = 0, btn; btn = btns[i++];) {

            if (btn.id == str) {

                domUtils.removeAttributes(btn, ["disabled"]);

            } else {

                btn.setAttribute("disabled", "true");

            }

        }

    }

    function enableBtn() {

        var div = document.getElementById('btns');

        var btns = domUtils.getElementsByTagName(div, "button");

        for (var i = 0, btn; btn = btns[i++];) {

            domUtils.removeAttributes(btn, ["disabled"]);

        }

    }

</script>

<script>

    $('.movie-activity').parent().show();
    $('.movie-activity a').css('color', '#ffffff');
    $('.movie-activity a').css('background', '#575757');

</script>

<{include file="default/Public/footer" /}>